{% extends "base.html" %}
{% block title %}
  Course Schedules &mdash;
  Academics &mdash;
  Carthage College
{% endblock %}
{% block extra_style %}
  {{block.super}}
  <link href="//app.carthage.edu/themes/shared/css/icons.css"
    type="text/css" rel="stylesheet">
  <link href="//app.carthage.edu/themes/shared/css/forms.css"
    rel="stylesheet" type="text/css">
  <link href="//app.carthage.edu/themes/shared/css/tables.css"
    rel="stylesheet" type="text/css">
{% endblock %}
{% block left_nav %}
  {% include "left_nav.html" %}
{% endblock %}
{% block content_head %}
<h1>
  Course Schedules
  <a href="{% url 'home' %}"><i class="fa fa-home fa-4x green" style="float:right;"></i></a>
</h1>
{% endblock %}
{% block breadcrumb %}
<li>
  <a href="https://www.carthage.edu/academics/">Academics</a>
</li>
<li>
  <a href="/schedule/" aria-current="page">Course Schedules</a>
</li>
{% endblock breadcrumb %}
{% block content %}
{% spaceless %}
<div>
  <h3>Semester Courses</h3>
  <ul>
    <li><a href="/schedule/R/RA/2024/">Fall 2024</a></li>
    <li><a href="/schedule/R/RC/2024/">Spring 2024</a></li>
    <li><a href="/schedule/R/RB/2024/">J-Term 2024</a></li>
    <li><a href="/schedule/R/RA/2023/">Fall 2023</a></li>
  </ul>
  <h3>7-Week Courses</h3>
  <ul>
    <li><a href="/schedule/A/AK/2024/">Spring 1st 7 weeks 2024</a></li>
    <li><a href="/schedule/A/AM/2024/">Spring 2nd 7 weeks 2024</a></li>
  </ul>
</div>
{% endspaceless %}
{% endblock %}
