{% extends "home.html" %}
{% load livewhale_api %}
{% load replace string_time %}
{% block extra_javascript %}
{% endblock %}
{% block content %}
<h3>{{title|safe}}</h3>
<div class="table-responsive">
  <table class="table display table-hover">
    {% for s in sched %}
    {% ifchanged s.department %}
    <tr>
      <td valign="top" colspan="2" class="dept">
        <h3 id="{{s.Course_Subjects_group}}" class="anchor">{{s.department}}</h3>
      </td>
    </tr>
    {% endifchanged %}
    <tr>
      <td valign="top" width="120">{{s.number}}&nbsp;{{s.section}}</td>
      <td valign="top">
        <strong>{{s.title}}</strong>&nbsp;&nbsp;&nbsp;
        {{s.credits}} credit{{ s.credits|pluralize }}
      </td>
    </tr>
    <tr>
      <td valign="top" style="padding-bottom:10px;">&nbsp;</td>
      <td valign="top" style="padding:10px;">
          Instructor:
          {% if s.instructors %}{{s.instructors|default_if_none:''}}{% endif %}
        {% if s.description %}
          <br>Description: {{s.description|safe}}
        {% endif %}
        {% if s.time %}
          <br>
          {{s.time}}
        {% endif %}
        {% if s.days %}
        {{s.days}}
        {% endif %}
        {% if s.building %}
          <br>
          Location: {{s.building}} {{s.room}} &nbsp;&nbsp;&nbsp;
        {% endif %}
        {% if s.capacity %}
          Capacity: {{s.capacity}}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    <tr><td colspan="2" height="25" class="noprint">&nbsp;</td></tr>
  </table>
</div>
{% endblock %}
